<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" 
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true">
        <!--spring 3.2.x-->
        <!--<intercept-url pattern="/admin**" access="ROLE_USER" />--> 
        <!--spring 4.2.x-->
        <intercept-url pattern="/admin**" access="hasRole('ROLE_USER')" />
    </http>

    <authentication-manager>
        <authentication-provider>
            <!--spring 5.1.x need encode pass-->
<!--            <password-encoder hash="bcrypt" />
            <user-service>
                <user name="codewr" password="$2a$10$EblZqNptyYvcLm/VwDCVAuBjzZOI7khzdyGPBr08PpIi0na624b8." authorities="ROLE_USER" />
            </user-service>-->
            <!--spring 3.2.x to 4.2.x-->
            <user-service>
                <user name="codewr" password="123456" authorities="ROLE_USER" />
            </user-service>
        </authentication-provider>
    </authentication-manager>

</beans:beans>