<beans:beans xmlns="http://www.springframework.org/schema/security"
             xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security.xsd">

    <http auto-config="true">
        
        <!--spring 3.2.x-->
        <!--<intercept-url pattern="/admin**" access="ROLE_ADMIN" />--> 
        <!--spring 4.2.x-->
        <intercept-url pattern="/admin**" access="hasRole('ROLE_ADMIN')" />
        <access-denied-handler error-page="/403" />
        <!--error custom-->
        <!--<access-denied-handler ref="my403" />-->
        
    </http>

    <authentication-manager>
        <authentication-provider>
            <!--spring 5.1.x need encode pass-->
            <password-encoder hash="bcrypt" />
            <user-service>
                <user name="user_codewr" password="$2a$10$EblZqNptyYvcLm/VwDCVAuBjzZOI7khzdyGPBr08PpIi0na624b8." authorities="ROLE_USER" />
                <user name="user_admin" password="$2a$10$EblZqNptyYvcLm/VwDCVAuBjzZOI7khzdyGPBr08PpIi0na624b8." authorities="ROLE_USER, ROLE_ADMIN" />
            </user-service>
            <!--spring 3.2.x to 4.2.x-->
            
            <!-- <user-service>
                <user name="codewr" password="123456" authorities="ROLE_USER" />
                <user name="admin" password="123456" authorities="ROLE_USER, ROLE_ADMIN" />
            </user-service>-->
        </authentication-provider>
    </authentication-manager>

    <beans:bean id="my403"
                class="com.codewr.web.exception.MyAccessDeniedHandler">
        <beans:property name="errorPage" value="403" />
    </beans:bean>

</beans:beans>